.Header {
    font-family: 'Comic Neue', cursive;
    display: flex;
    box-shadow: 2px 3px 5px grey;
    border-radius: 5px; 
}

.Header p {
    font-size: large;
    

}

.Container {
    margin-left: auto;
    display: flex;
    
}

.Boton {
    position: relative;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 5px;

}

.Img{
    height: 40px;
    width: 30px;
}

.Navega {
    justify-content: center;
}




ul {
    text-decoration: none;
}


a {
    text-decoration: none;
    color: black;
    margin-left: 5px;
}

a:hover {
    color: rgb(71, 71, 71);
}





